@model IEnumerable<Contrato>

@{
    ViewData["Title"] = "Contrato";
}


@if (TempData["Mensaje"] != null)
{
    string tipoMensaje = TempData["TipoMensaje"] as string;
    string claseAlerta = tipoMensaje == "error" ? "alert-danger" : "alert-success";

    <div class="alert @claseAlerta alert-dismissible fade show" role="alert">
        @TempData["Mensaje"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}


<div class="container mt-5">
    <h1 class="mb-4">ABM de Contrato</h1>
    <a asp-controller="Contrato" asp-action="Insertar" class="btn btn-success mb-3">Agregar Contrato</a>


    <table id="miTabla" class="table">
        <thead class="table-dark">
            <tr>
                @*<th>Id</th>*@

                @* <th>ID</th> *@
                <th>Inquilino</th>
                <th>Propietario</th>
                <th>Fecha Inicio</th>
                <th>Fecha Fin</th>
                <th>Vigente</th>
                <th>Monto mensual</th>
                <th style="width: 400px;"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Contrato in Model)
            {
                <tr>
                    @* <td>@Contrato.Id</td> *@
                    <td>@Contrato.Inquilino.ToString()</td>
                    <td>@Contrato.Propietario.ToString()</td>
                    <td>@Contrato.FechaInicio.ToShortDateString()</td>
                    <td>@Contrato.FechaFin.ToShortDateString()</td>
                    <td>@(Contrato.Vigente ? "Si" : "No")</td>
                    <td>@Contrato.MontoMensual</td>

                    <td style="">
                         <a asp-controller="Pago" asp-action="Insertar" asp-route-idContrato="@Contrato.Id" class="btn btn-success btn-sm" style="width: 100px;">Nuevo pago</a>

                        <button class="btn btn-info btn-sm boton" style="width: 80px;" data-bs-toggle="modal"
                            data-bs-target="#modalDetalles_@(Contrato.Id)">
                            Detalles
                        </button>
                        <a asp-controller="Contrato" asp-action="Actualizar" asp-route-id="@Contrato.Id"
                            class="btn btn-primary btn-sm" style="width: 80px;">Modificar</a>

                        @*Oculto el eliminar para empleados*@
                        @if (User.IsInRole("Administrador"))
                        {
                            <a asp-controller="Contrato" asp-action="Eliminar" asp-route-id="@Contrato.Id"
                                class="btn btn-danger btn-sm" style="width: 80px;"
                                onclick="return confirm('¿Estás seguro de que deseas eliminar este contrato?')">Eliminar</a>
                        }

                    </td>
                </tr>
                <!-- Modal para detalles del Contrato -->
                <div class="modal fade" id="modalDetalles_@(Contrato.Id)" tabindex="-1"
                    aria-labelledby="modalDetallesLabel_@(Contrato.Id)" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header bg-primary text-white">
                                <h5 class="modal-title" id="modalDetallesLabel_@Contrato.Id">Detalles del Contrato</h5>
                                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>

                            <div class="modal-body">
                                <div class="card">
                                    <div class="card-body">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item"><strong>Id:</strong> @Contrato.Id</li>
                                            <li class="list-group-item"><strong>Propietario:</strong>
                                                @Contrato.Propietario.ToString()</li>
                                            <li class="list-group-item"><strong>Inquilino:</strong>
                                                @Contrato.Inquilino.ToString()</li>
                                            <li class="list-group-item"><strong>Datos del inmueble:</strong>
                                                @Contrato.Inmueble.ToString()</li>
                                            <li class="list-group-item"><strong>Fecha de inicio:</strong>
                                                @Contrato.FechaInicio.ToShortDateString()</li>
                                            <li class="list-group-item"><strong>Fecha de fin:</strong>
                                                @Contrato.FechaFin.ToShortDateString()</li>
                                            <li class="list-group-item"><strong>Vigente:</strong> @(Contrato.Vigente ? "Si"
                                            : "No")</li>
                                            <li class="list-group-item"><strong>Monto mensual:</strong>
                                                @Contrato.MontoMensual</li>
                                        </ul>
                                        @if (User.IsInRole("Administrador"))
                                        {
                                            <div class="card-footer">
                                                <small class="text-muted"><strong>Contrato creado por:</strong>
                                                    @Contrato.Usuario.Nombre @Contrato.Usuario.Apellido</small>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer bg-light">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>

            }
        </tbody>
    </table>
</div>