@model IEnumerable<Propietario>
@{
    ViewData["Title"] = "Propietario";
}

@if (TempData["Mensaje"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["Mensaje"]
    </div>
}

<div class="container mt-5">
    <h1 class="mb-4">ABM de Propietario</h1>
    <a asp-controller="Propietario" asp-action="Insertar" class="btn btn-success mb-3">Agregar Propietario</a>


    <table class="table">
        <thead>
            <tr>
                @* <th>Id</th> *@
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Documento</th>
                <th>Teléfono</th>
                <th>Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Propietario in Model)
            {
                <tr>
                    <td style="display: none;">@Propietario.IdPropietario</td>
                    <td>@Propietario.Nombre</td>
                    <td>@Propietario.Apellido</td>
                    <td>@Propietario.Dni</td>
                    <td>@Propietario.Telefono</td>
                    <td>@Propietario.Email</td>
                    <td>
                        <a asp-controller="Propietario" asp-action="Insertar" asp-route-id="@Propietario.IdPropietario"
                            class="btn btn-primary btn-sm">Modificar</a>

                        <a asp-controller="Propietario" asp-action="Eliminar" asp-route-id="@Propietario.IdPropietario"
                            class="btn btn-danger btn-sm"
                            onclick="return confirm('¿Estás seguro de que deseas eliminar esta persona?')">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
