@model Inmueble
@{
    ViewData["Title"] = "Modificar Inmueble";
    var propietarios = (IList<Propietario>)ViewBag.Propietarios;
    var tiposInmueble = (IList<Tipo>)ViewBag.TiposInmueble;
}


<style>
    body {
        background-color: #f8f9fa;
    }

    .label-avatar {
        margin-left: 30px;
    }

    .form-login {
        background-color: #fff;
        border: 1px solid #dee2e6;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .form-group {
        margin-bottom: 20px;
    }

    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
        /* Hacer que el botón ocupe el ancho de los inputs */
    }

    .btn-primary:hover {
        background-color: #0056b3;
        border-color: #0056b3;
    }

    /* Estilo para alinear el botón a la derecha */
    .align-right {
        margin-left: auto;
    }

    legend {
        color: #fff;
        background-color: #007bff;
        border: 1px solid #007bff;
        border-bottom-color: transparent;
    }
</style>



<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="form-login">
                <form asp-controller="Inmueble" asp-action="Actualizar" method="post">
                <input type="hidden" asp-for="Id" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <fieldset class="border p-2 mb-4">
                        <legend class="w-100 font-weight-light mb-4" style="display: block;">Modificar inmueble
                        </legend>


                        <div class="form-group">
                    <label class="control-label">Propietario</label>
                    <select class="form-control" name="IdPropietario">
                        @foreach (var item in propietarios)
                        {
                            @:<option @(item.Id == Model.IdPropietario ? "selected" : "") value="@item.Id">@(item.Nombre + " "
                            + item.Apellido)</option>
                        }
                    </select>
                    <span asp-validation-for="IdPropietario" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label class="control-label">Tipos de inmueble</label>
                    <select class="form-control" name="IdTipo">
                        @foreach (var item in tiposInmueble)
                        {
                            @:<option @(item.Id == Model.IdTipo ? "selected" : "") value="@item.Id">@(item.TipoInmueble)</option>
                        }
                    </select>
                    <span asp-validation-for="IdPropietario" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Direccion" class="control-label"></label>
                    <input asp-for="Direccion" class="form-control" />
                    <span asp-validation-for="Direccion" class="text-danger"></span>
                </div>

               
                <div class="form-group">
                    <label asp-for="Ambientes" class="control-label"></label>
                    <input asp-for="Ambientes" class="form-control" type="number" min="1" />
                    <span asp-validation-for="Ambientes" class="text-danger"></span>
                </div>

                 <div class="form-group">
                    <label asp-for="Superficie" class="control-label">Superficie en m²</label>
                    <input asp-for="Superficie" class="form-control" type="number" min="10"/>
                    <span asp-validation-for="Superficie" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label asp-for="Latitud" class="control-label"></label>
                    <input asp-for="Latitud" class="form-control" type="number" step="any" />
                    <span asp-validation-for="Latitud" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Longitud" class="control-label"></label>
                    <input asp-for="Longitud" class="form-control" type="number" step="any"/>
                    <span asp-validation-for="Longitud" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Disponible" class="control-label"></label>
                    <input asp-for="Disponible" type="checkbox" />
                    <span asp-validation-for="Disponible" class="text-danger"></span>
                </div>

              <div class="form-group">
                    <label asp-for="Uso" class="control-label"></label>
                    <select asp-for="Uso" class="form-control">
                        <option value="Comercial" selected="@(Model.Uso == "Comercial")">Comercial</option>
                        <option value="Residencial" selected="@(Model.Uso == "Residencial")">Residencial</option>
                    </select>
                    <span asp-validation-for="Uso" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Precio" class="control-label"></label>
                    <input asp-for="Precio" class="form-control" type="number" step="any" />
                    <span asp-validation-for="Precio" class="text-danger"></span>
                </div>

               
                <div class="form-group">
                    <button type="submit" class="btn btn-primary mt-3">Guardar</button>
                    <a asp-controller="Inmueble" asp-action="Index" class="btn btn-danger mt-3 ml-2">Cancelar</a>
                </div>
            </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function() {
        var precioInput = document.getElementById("Precio");

        precioInput.addEventListener("input", function() {
            var precioValue = parseFloat(precioInput.value);

            if (isNaN(precioValue) || precioValue <= 0) {
                precioInput.setCustomValidity("El precio debe ser un número válido y mayor que cero.");
            } else {
                precioInput.setCustomValidity("");
            }
        });
    });
</script>