@model IEnumerable<Inmueble>
@{
    ViewData["Title"] = "Inmueble";
}


@if (TempData["Mensaje"] != null)
{
    string tipoMensaje = TempData["TipoMensaje"] as string;
    string claseAlerta = tipoMensaje == "error" ? "alert-danger" : "alert-success";

    <div class="alert @claseAlerta alert-dismissible fade show" role="alert">
        @TempData["Mensaje"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="container mt-5">
    <h1 class="mb-4">ABM de Inmueble</h1>
    <a asp-controller="Inmueble" asp-action="Insertar" class="btn btn-success mb-3">Agregar Inmueble</a>


    <table id="miTabla" class="table">
        <thead class="table-dark">
            <tr>
                @* <th>Id</th> *@
                <th>Propietario</th>
                <th>Direccion</th>
                <th>Cantidad de ambientes</th>
                <th>Estado</th>
                <th>Tipo</th>
                <th>Precio</th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Inmueble in Model)
            {
                <tr>
                    @* <td style="display: none;">@Inmueble.Id</td> *@
                    <td>@Inmueble.Propietario.ToString()</td>
                    <td>@Inmueble.Direccion</td>
                    <td>@Inmueble.Ambientes ambientes</td>
                    <td>@(Inmueble.Disponible ? "Disponible" : "No Disponible")</td>
                    <td>@Inmueble.Tipo.ToString()</td>
                    <td>@Inmueble.Precio</td>

                    <td>
                        <a asp-controller="Inmueble" asp-action="Detalles" asp-route-id="@Inmueble.Id"
                            class="btn btn-info btn-sm boton" style="width: 80px;" data-bs-toggle="modal"
                            data-bs-target="#modalDetalles_@Inmueble.Id">
                            Detalles
                        </a>

                        <a asp-controller="Inmueble" asp-action="Actualizar" asp-route-id="@Inmueble.Id"
                            class="btn btn-primary btn-sm boton" style="width: 80px;">Modificar</a>

                        @*Oculto el eliminar para empleados*@
                        @if (User.IsInRole("Administrador"))
                        {
                            <a asp-controller="Inmueble" asp-action="Eliminar" asp-route-id="@Inmueble.Id"
                                class="btn btn-danger btn-sm boton" style="width: 80px;"
                                onclick="return confirm('¿Estás seguro de que deseas eliminar este inmueble?')">Eliminar</a>
                        }


                    </td>
                </tr>

                <!-- Modal para detalles del inmueble -->
                <div class="modal fade" id="modalDetalles_@Inmueble.Id" tabindex="-1"
                    aria-labelledby="modalDetallesLabel_@Inmueble.Id" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header bg-primary text-white">
                                <h5 class="modal-title" id="modalDetallesLabel_@Inmueble.Id">Detalles del Inmueble</h5>
                                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>

                            <div class="modal-body">
                                <div class="card">
                                    <div class="card-body">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item"><strong>Propietario:</strong>
                                                @Inmueble.Propietario.ToString()</li>
                                            <li class="list-group-item"><strong>Dirección:</strong> @Inmueble.Direccion</li>
                                            <li class="list-group-item"><strong>Cantidad de Ambientes:</strong>
                                                @Inmueble.Ambientes</li>
                                            <li class="list-group-item"><strong>Superficie:</strong> @Inmueble.Superficie
                                            </li>
                                            <li class="list-group-item"><strong>Latitud:</strong> @Inmueble.Latitud</li>
                                            <li class="list-group-item"><strong>Longitud:</strong> @Inmueble.Longitud</li>
                                            <li class="list-group-item"><strong>Estado:</strong> @(Inmueble.Disponible ?
                                            "Disponible" : "No Disponible")</li>
                                            <li class="list-group-item"><strong>Tipo:</strong> @Inmueble.Tipo.ToString()
                                            </li>
                                            <li class="list-group-item"><strong>Uso:</strong> @Inmueble.Uso</li>
                                            <li class="list-group-item"><strong>Precio:</strong> @Inmueble.Precio</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer bg-light">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>

            }
        </tbody>
    </table>
</div>
