@model Inmueble
@{
    ViewData["Title"] = "Inmueble";
}

@if (Model != null)
{
    <div class="container mt-5">
        <h1 class="mb-4">ABM de Inmueble</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Direccion</th>
                    <th>Ambientes</th>
                    <th>Superficie</th>
                    <th>Latitud</th>
                    <th>Longitud</th>
                    <th>id Propietario</th>
                    <th>Disponible</th>
                    <th>Uso</th>
                    <th>Precio</th>
                    <th>Tipo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.Direccion</td>
                    <td>@Model.Ambientes</td>
                    <td>@Model.Superficie</td>
                    <td>@Model.Latitud</td>
                    <td>@Model.Longitud</td>
                    <td>@Model.IdPropietario</td>
                    <td>@Model.Disponible</td>
                    <td>@Model.Uso</td>
                    <td>@Model.Precio</td>
                    <td>@Model.IdTipo</td>
                    <td>@Model.Tipo.ToString()</td>
                </tr>
            </tbody>
        </table>
    </div>
}
else
{
    <div class="container mt-5">
        <h1 class="mb-4">ABM de Inmueble</h1>
        <p>No se encontró ningún inmueble con el ID proporcionado.</p>
    </div>
}