@model IEnumerable<Inquilino>
@{
    ViewData["Title"] = "Inquilino";
}


@if (TempData["Mensaje"] != null)
{
    string tipoMensaje = TempData["TipoMensaje"] as string;
    string claseAlerta = tipoMensaje == "error" ? "alert-danger" : "alert-success";

    <div class="alert @claseAlerta alert-dismissible fade show" role="alert">
        @TempData["Mensaje"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}



<div class="container mt-5">
    <h1 class="mb-4">ABM de Inquilino</h1>
    <a asp-controller="Inquilino" asp-action="Insertar" class="btn btn-success mb-3">Agregar Inquilino</a>


    <table class="table">
        <thead>
            <tr>
                @* <th>Id</th> *@
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Teléfono</th>
                <th>Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Inquilino in Model)
            {
                <tr>
                    <td style="display: none;">@Inquilino.Id</td>
                    <td>@Inquilino.Nombre</td>
                    <td>@Inquilino.Apellido</td>
                    <td>@Inquilino.Telefono</td>
                    <td>@Inquilino.Email</td>
                    <td>
                        <a asp-controller="Inquilino" asp-action="Insertar" asp-route-id="@Inquilino.Id"
                            class="btn btn-primary btn-sm">Modificar</a>

                        <a asp-controller="Inquilino" asp-action="Eliminar" asp-route-id="@Inquilino.Id"
                            class="btn btn-danger btn-sm"
                            onclick="return confirm('¿Estás seguro de que deseas eliminar esta persona?')">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
