@model IEnumerable<Tipo>

@{
    ViewData["Title"] = "Tipo";
}

@if (TempData["Mensaje"] != null)
{
    string tipoMensaje = TempData["TipoMensaje"] as string;
    string claseAlerta = tipoMensaje == "error" ? "alert-danger" : "alert-success";

    <div class="alert @claseAlerta alert-dismissible fade show" role="alert">
        @TempData["Mensaje"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="container" style="max-width:70%; ">
    <div class="container mt-5">
        <h1 class="mb-4">Lista de Tipos De Inmueble</h1>
        <a asp-controller="Tipo" asp-action="Insertar" class="btn btn-success mb-3">Agregar Tipo de inmueble</a>


        <table id="miTabla" class="table">
            <thead class="table-dark">
                <tr>
                    @* <th>Id</th> *@
                    <th>Tipo de inmueble</th>
                    <th style="max-width: 100px;"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Tipo in Model)
                {
                    <tr>
                        @* <td style="display: none;">@Propietario.Id</td> *@
                        <td>@Tipo.TipoInmueble</td>
                        <td>
                            <a asp-controller="Tipo" asp-action="Actualizar" asp-route-id="@Tipo.Id"
                                class="btn btn-primary btn-sm">Modificar</a>

                            @*Oculto el eliminar para empleados*@
                            @if (User.IsInRole("Administrador"))
                            {
                                <a asp-controller="Tipo" asp-action="Eliminar" asp-route-id="@Tipo.Id"
                                    class="btn btn-danger btn-sm"
                                    onclick="return confirm('¿Estás seguro de que deseas eliminar este tipo de inmueble?')">Eliminar</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @* <div class="container mt-5" style="">
    <form asp-controller="Tipo" asp-action="Insertar" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <h3 class="text-center">@ViewData["Title"]</h3>
    @if (Model.Id > 0)
    {
    <input type="hidden" asp-for="Id" />
    }
    <div class="form-group">
    <label class="control-label"></label>
    <input class="form-control" />
    <span class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Guardar</button>
    <a asp-controller="Tipo" asp-action="Index" class="btn btn-danger mt-3 ml-2">cancelar</a>
    </form>
    <a asp-controller="Tipo" asp-action="Insertar" class="btn btn-success mb-3">Agregar Tipo de inmueble</a>
    </div> *@
</div>